*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cars{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cars .sedans{
    background-color: orange;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cars .sedans .icon{
    display: flex;
    justify-content: center;
}

.cars .sedans .headline{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding-left: 23%;
    padding-right: 23%;
}

.cars .sedans .text{
    padding-left: 23%;
    padding-right: 23%;
}

.cars .sedans .border{
    width: 80%;
    text-align: center;
}

.cars .sedans .border button{
    border: 1px solid black;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    color: rgb(230, 230, 15);
    background-color: white;

}


.cars .suvs{
    background-color: lightseagreen;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cars .suvs .icon{
    display: flex;
    justify-content: center;
}

.cars .suvs .headline{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding-left: 23%;
    padding-right: 23%;
}

.cars .suvs .text{
    
    padding-left: 23%;
    padding-right: 23%;
}

.cars .suvs .border{
    width: 80%;
    text-align: center;
}

.cars .suvs .border button{
    border: 1px solid black;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    color: rgb(68, 68, 255);
    background-color: white;
}


.cars .luxury{
    background-color: green;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cars .luxury .icon{
    display: flex;
    justify-content: center;
}

.cars .luxury .headline{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding-left: 23%;
    padding-right: 23%;
}

.cars .luxury .text{
    padding-left: 23%;
    padding-right: 23%;
}

.cars .luxury .border button{
    border: 1px solid black;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    color: green;
    background-color: white;
}

