*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.boxes>.top-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes>.bottom-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes>.grid-box>.box1{
    grid-area: 'item1';
    border: 1px solid black;
    display: inline;
}


.boxes>.grid-box>.box2{
    grid-area: 'item2';
    border: 1px solid black;
    display: inline;
}

.boxes>.grid-box>.box3{
    grid-area: 'item3';
    border: 1px solid black;
    display: inline;
}

.boxes>.grid-box>.box4{
    grid-area: 'item4';
    border: 1px solid black;
    display: inline;
}

.boxes>.grid-box>.box5{
    grid-area: 'item5';
    border: 1px solid black;
    display: inline;
}

.boxes>.grid-box>.box6{
    grid-area: 'item6';
    border: 1px solid black;
    display: inline;
}
.boxes>.grid-box{
    display: grid;
    grid-template-areas: 
    "item1 item2 item2"
    "item3 item3 item4"
    "item5 item6 item6";
}

