*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container >header{
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(85,128,234);
    color: white;
    /* margin-bottom: 30px; */
}

.container >header >.logo{
font-size: 20px;
letter-spacing: 1px;
}

.container >header >nav >.navbar >ul{
    display: flex;
}

.container >header >nav >.navbar >ul >li{
    list-style-type: none;

}

.container >header >nav >.navbar >ul >li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.container >header >nav >.navbar >ul >li >a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}

.container >#Home{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(144,206,255)
}

.container >#Home >.img{
    padding-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container >#Home >h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container >#Home >h1 +p{
    margin-bottom: 20px;
}

.container >#Home >.courses{
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(85,128,234);
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.container >#Home >.courses:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(12, 12, 173);
}

.container >main >h3{ 
font-size: 28px;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

.container >main >h3{
    background-color:rgb(136,96,208);
}

.container >main >#Trainings{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(132,206,235);
}


.container >main >#Trainings >.topics{ 
    grid-area: 1/1/2/2;
    text-align: center;
    margin-right: 15px;
}
.container >main >#Trainings >.topics >h4{ 
    font-size: 20px;
}
.container >main >#Trainings >.online{ 
    grid-area: 1/2/2/3;
    text-align: center;
    margin-right: 15px;
}

.container >main >#Trainings >.online >h4{ 
    font-size: 20px;
}

.container >main >#Trainings >.conference{ 
    grid-area: 1/3/2/4;
    text-align: center;
}

.container >main >#Trainings >.conference >h4{ 
    font-size: 20px;
}

.container >main >#Courses{
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 1;
    background-color: rgb(193,200,228);
    padding-top: 50px;
}

.container >main >h4{
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.container >main >#Courses >.python,
.container >main >#Courses >.java,
.container >main >#Courses >.javascript
{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
}

.container >main >#Courses >.python{
    grid-area: 1/1/2/2;
}

.container >main >#Courses >.java{
    grid-area: 2/1/3/2;
}

.container >main >#Courses >.javascript{
    grid-area: 3/1/4/2;
}

.container >main >#Courses >.python >article,
.container >main >#Courses >.java >article,
.container >main >#Courses >.javascript >article{
    padding-left: 10px;
}

.container >main >#Courses >.java >img{
    max-width: 225px;
    height: 225px;
}

.container >main >h4{
background-color:rgb(136,96,208);
}

.container >main >#Contact >.forms{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    padding-left: 20%;
    padding-right: 20%;
    background-color:rgb(136,96,208);
}

.container >main >#Contact >.forms >.name{
    padding-left: 20px;
    grid-area: 1/1/2/2;
    margin-bottom: 20px;
}

.container >main >#Contact >.forms >.email{
    padding-left: 20px;
    grid-area: 2/1/3/2;
    margin-bottom: 20px;
    width: 100%;
}

.container >main >#Contact >.forms >.message {
    padding-left: 20px;
    grid-area: 3/1/4/2;
    margin-bottom: 20px;
}

.container >main >#Contact >.forms >.send{
    padding-left: 20px;
    grid-area: 4/1/5/2;
    margin-bottom: 30px;
}

footer >.icons{  
    padding-top: 10px;
    padding-bottom: 10px;  
    text-align: center;
    background-color: rgb(241, 97, 241);
}